<!-- task_form.html -->
{% extends 'base.html' %}

{% block content %}
   <h2>Task Form</h2>
   <form method="post" action="">
       {% csrf_token %}
       
       <label for="{{ form.name.id_for_label }}">Task Name:</label>
       {{ form.name }}
       <br>

       <label for="{{ form.priority.id_for_label }}">Priority:</label>
       {{ form.priority }}
       <br>

       <label for="{{ form.date.id_for_label }}">Date:</label>
       <input type="date" {{form.date }}>
       <br>

       <button type="submit">Save</button>
   </form>
{% endblock %}
